<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                   <app-widgets widgetID="footer-widget-1"></app-widgets>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <app-widgets widgetID="footer-widget-2"></app-widgets>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                   <app-widgets widgetID="footer-widget-3"></app-widgets>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
Copyright &copy; All rights reserved 
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
