 <!-- bradcam_area  -->
 <div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="assets/img/ilstrator/bradcam_ils.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">

                    <h3>{{Model?.Title}}</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{Model?.Title}}</li>
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="single-page">
            <p #page_container></p>
            </div>
        </div>
    </div>
</div>