 <!-- bradcam_area  -->
 <div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="assets/img/ilstrator/bradcam_ils.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">

                    <h3>Blog</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item" *ngFor="let post of Model">
                        <div class="blog_item_img">
                            <a routerLink="/{{post.Slug}}">
                            <img class="card-img rounded-0 blog-list-image" src="{{post.PostImage}}" alt="">
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" routerLink="/{{post.Slug}}">
                                <h2>{{post.Title}}</h2>
                            </a>
                            <p [innerHTML] = "SafeHtml(post.Excerpt)" ></p>
                            <ul class="blog-info-link">
                                <li>
                                 <a *ngFor="let category of post?.Categories">
                                    {{category.name}}
                                 </a>  
                                </li>
                                <li>
                                    {{post.ModifiedDate}}
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <app-widgets widgetID="page-sidebar"></app-widgets>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->