    <!-- compapy_info  -->
    <div class="compapy_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-5">
                    <div class="man_thumb">
                        <img src="{{Model?.ImageUrl}}" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-md-7">
                    <div class="company_info">
                        <h3>{{Model?.Title}}</h3>
                        <p>{{Model?.Excerpt}}</p>
                        <a routerLink="/{{Model?.Slug}}" class="boxed-btn3">Learn More</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--/ compapy_info  -->