<!-- bradcam_area  -->
    <div class="bradcam_area">
        <div class="bradcam_shap">
            <img src="assets/img/ilstrator/bradcam_ils.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Contact Us</h3>
                        <nav class="brad_cam_lists">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                              </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">
           <div #map_container></div>
      </div>


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" (ngSubmit)="onSubmit(f)" #f="ngForm" #contactform_data="ngForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                    <textarea class="form-control w-100"  cols="30" rows="9" id="message"  name="message" placeholder = 'Enter Message' ngModel></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control"  id="name" placeholder="Enter your name" name="fullname" required ngModel #fullname="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }">
                    <div *ngIf="f.submitted && fullname.invalid" class="invalid-feedback">
                      <div *ngIf="fullname.errors.required">Name is required</div>
                   </div> 
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" email required ngModel #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                   </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control"  id="subject" placeholder="Enter subject" name="subject" ngModel>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">Send Message</button>
              <div #msg style="display:none;">
                <div *ngIf="response?.Status == 'False'" style="color:red;">{{response?.Message}}</div>
                <div *ngIf="response?.Status == 'True'" style="color:green;">{{response?.Message}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-home"></i></span>
            <div class="media-body">
              <h3>{{Model?.Location}}</h3>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-phone"></i></span>
            <div class="media-body">
              <h3>{{Model?.PhoneNumber}}</h3>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-envelope"></i></span>
            <div class="media-body">
              <h3>{{Model?.Mail}}</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->