 <!-- bradcam_area  -->
 <div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="assets/img/ilstrator/bradcam_ils.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">

                    <h3>{{Model?.Title}}</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a routerLink="/careers">Careers</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{Model?.Title}}</li>
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 posts-list">
               <div class="single-post">
                  <div class="blog_details">
                     <p  #page_content></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
      <div class="container">
                <div class="pro_border">
                        <div class="row">
                                <div class="col-xl-12 col-md-12">
                                    <div class="lets_projects">
                                       <h3>Please send us an email to  <a href="mailto:{{CustomizeModel?.JobMail}}">{{CustomizeModel?.JobMail}}</a>  to apply for the job. We will get to you shortly.
                                        </h3>
                                    </div>
                                </div>
                              
                            </div>
                </div>
            </div>